body {
    text-align: center;
    background-color: gray;
}

input {
    margin: 30px 0;
    width: 380px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
}
button {
    font-size: 2rem;
    margin: 1px;
    width: 100px;
    height: 100px;
    color: white;
    background-image: linear-gradient(orange ,rgb(247, 162, 6));
    border: 1px solid rgb(87, 86, 86);
    border-radius: 50%;
}

button:hover {
    background-image: linear-gradient(rgb(230, 151, 6),rgb(197, 130, 5));
}

button:active {
    background-image: linear-gradient(rgb(177, 115, 1),rgb(197, 130, 5));
}

.calc-container{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    /* align-items: center; */
}

.extra {
    /* align-self: flex-start; */
    margin-top: 30px;
    margin-right: 50px; 
}

#res {
    position: relative;
    left: 180px;
}

@media only screen and (max-width:800px) {
    .calc-container {
        flex-direction: column;
    }

    .extra {
        margin-right: 0;
    }

    input {
        margin: 0;
    }
    #res {
        position: static;
    }
}

@media only screen and (max-width:480px) {
    button {
        font-size: 1rem;
        margin: 1px;
        width: 60px;
        height: 60px;
        color: white;
        background-image: linear-gradient(orange ,rgb(247, 162, 6));
        border: 1px solid rgb(87, 86, 86);
        border-radius: 50%;
    }
    input {
        width: 75%;
    }
}